<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Add Vacancy</title>

</head>
<body>

	<div ng-controller="recruitmentCtrl">
		<div class="container">

			<div class="page-heading">
				<h2>Add Vacancy Request</h2>
				<br>
			</div>

			<label class="pull-left" style="margin-right: 20px">Role Type:</label>
			<span class="col-md-4 col-sm-4 col-xs-4">
				<select ng-model="selectedRoleType">
					<option ng-repeat="roleType in roleTypeList" value="{{roleType}}">{{roleType}}</option>
				</select>
			</span><br>
			<br> <label class="pull-left" style="margin-right: 27px">Location:</label>
			<span class="col-md-4 col-sm-4 col-xs-4">
				<input type="text" name="input" ng-model="location" required ng-trim="false">
			</span><br>
			<br> <label class="pull-left" style="margin-right: 11px">Experience:</label>
			<span class="col-md-4 col-sm-4 col-xs-4">
				<input type="text" name="input" ng-model="experience" required ng-trim="false">
			</span><br>
			<br> <label class="pull-left" style="margin-right: 58px">Skill:</label>
			<span class="col-md-4 col-sm-4 col-xs-4">
				<input type="text" name="input" ng-model="skill" required ng-trim="false">
			</span><br>
			<br> <br>
			<br>
			<div class="messageColor">{{saveSuccessMessage}}</div>
			<br>
			<button ng-click="saveVacancyRequest()" class="btn btn-primary">Save</button>
			<button ng-click="backToTheEmployee()" style="float: right;"
				class="btn btn-primary">Back to the Main Page</button>

		</div>

	</div>

</body>
</html>