<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Employee</title>

</head>
<body>

	<div ng-controller="recruitmentCtrl">

	  <div class="container">
	  
	    <div class="page-heading"><h2>Employee Main Page</h2><br></div>
	    
	    <button type="button" class="btn btn-primary"  ng-click="addVacancyRequest('employee')">Add Vacancy Request</button><br><br>
	    <button type="button"  class="btn btn-primary" ng-click="viewVacancyRequest('employee')">View Vacancy Requests</button>
	
	  </div>
	
	</div>

 
</body>
</html>