<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>HR Add Candidate</title>

</head>
<body>

	<div ng-controller="hrRecCtrl">
		<div class="container">

			<div class="page-heading">
				<h2>HR Add Candidate</h2>
				<br>
			</div>

			<label class="pull-left" style="margin-right: 20px">Vacancy Request ID:</label>
			<span class="col-md-4 col-sm-4 col-xs-4">
				<select ng-model="vacancyReqId">
					<option ng-repeat="vacancy in hrRecVacancyList" value="{{vacancy.vacancyReqId}}">{{vacancy.vacancyReqId}}</option>
				</select>
			</span><br><br>
			<label class="pull-left" style="margin-right: 20px">Attach Resume:</label>
			<span>
				<input type = "file" file-model = "myFile" name="uploadedFile" />
	            <button ng-click = "uploadFile()">Upload Resume</button><br>
            </span>
            <div class="messageColor">{{resumeUpload}}</div>
      		<br> <label class="pull-left" style="margin-right: 55px">Name:</label>
			<span class="col-md-4 col-sm-4 col-xs-4">
				<input type="text" name="input" ng-model="candidateName" required ng-trim="false">
			</span><br>
			<br> <label class="pull-left" style="margin-right: 65px">Age:</label>
			<span class="col-md-4 col-sm-4 col-xs-4">
				<input type="text" name="input" ng-model="candidateAge" required ng-trim="false">
			</span><br>
			<br> <label class="pull-left" style="margin-right: 65px">Sex:</label>
			<span class="col-md-4 col-sm-4 col-xs-4">
				<input type="text" name="input" ng-model="candidateSex" required ng-trim="false">
			</span><br>
			<br> <label class="pull-left" style="margin-right: 65px">EmailId:</label>
			<span class="col-md-4 col-sm-4 col-xs-4">
				<input type="text" name="input" ng-model="candidateEmail" required ng-trim="false">
			</span><br>
			<br> <br>
			<br>
			<div class="messageColor">{{saveCandidateSuccessMessage}}</div>
			<br>
			<button ng-click="saveCandidate(vacancyReqId,candidateName,candidateAge,candidateSex,candidateEmail)" class="btn btn-primary">Save</button>
			<button ng-click="backToTheEmployee('hrRec')" style="float: right;"
				class="btn btn-primary">Back to the HR Main Page</button>

		</div>

	</div>

</body>
</html>