<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>medicalStatusCandidate</title>

</head>
<body>
<div>
	<div ng-controller="hrRecCtrl">
		<div class="container">

			<div class="page-heading">
				<h2>Update Medical Status of Candidates</h2>
				<br>
			</div>

			<label class="pull-left" style="margin-right: 35px">Candidate ID:</label>
			<span class="col-md-4 col-sm-4 col-xs-4">
				<select ng-model="candidateId" ng-change="candidateDropdown(candidateId)">
					<option ng-repeat="candidate in candidateList" value="{{candidate.candidateId}}">{{candidate.candidateId}}:{{candidate.candidateName}}</option>
				</select>
			</span><br>
			<br> <label class="pull-left" style="margin-right: 85px">Name:</label>
			<span class="col-md-4 col-sm-4 col-xs-4">
				<input type="text" name="input" ng-model="candidateName" required ng-trim="false">
			</span><br>
			<br> <label class="pull-left" style="margin-right: 97px">Age:</label>
			<span class="col-md-4 col-sm-4 col-xs-4">
				<input type="text" name="input" ng-model="candidateAge" required ng-trim="false">
			</span><br>
			<br> <label class="pull-left" style="margin-right: 98px">Sex:</label>
			<span class="col-md-4 col-sm-4 col-xs-4">
				<input type="text" name="input" ng-model="candidateSex" required ng-trim="false">
			</span><br>
			<br> <label class="pull-left" style="margin-right: 98px">Email:</label>
			<span class="col-md-4 col-sm-4 col-xs-4">
				<input type="text" name="input" ng-model="candidateEmail" required ng-trim="false">
			</span><br>
			<br> <label class="pull-left" style="margin-right: 48px">Vacancy Request ID:</label>
			<span class="col-md-4 col-sm-4 col-xs-4">
				<input type="text" name="input" ng-model="vacancyReqId" required ng-trim="false">
			</span><br><br>
			<br> <label class="pull-left" style="margin-right: 12px">Interview Cleared:</label>
			<span class="col-md-4 col-sm-4 col-xs-4">
				<input type="text" name="input" ng-model="interviewCleared" required ng-trim="false">
			</span><br>
			<label class="pull-left" style="margin-right: 12px">Medical Cleared:</label>
			<span class="col-md-4 col-sm-4 col-xs-4">
				<select ng-model="selectedMedicalInd">
					<option ng-repeat="medicalCleared in medicalClearedList" value="{{medicalCleared}}">{{medicalCleared}}</option>
				</select>
			</span><br><br>
			<br> <br>
			<br>
			<div class="messageColor">{{saveTestResultSuccessMessage}}</div>
			<br>
			<button ng-click="saveResult(selectedMedicalInd,candidateId)" class="btn btn-primary">Save</button>
			<button ng-click="backToTheEmployee('hrRec')" style="float: right;"
				class="btn btn-primary">Back to the HR Main Page</button>

		</div>

	</div>
</div>
</body>
</html>