<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HR</title>

  </head>
  <body>
	<div>
	<div ng-controller="hrRecCtrl">
	  <div class="container">
	  
	    <div class="page-heading" ><h2>HR Main Page</h2><br></div>
	   
	    <button type="button" class="btn btn-primary"  ng-click="getEmployees('hrRec')">View Employees</button><br><br>
	    <button type="button" class="btn btn-primary"  ng-click="getVacancies('hrRec')">View Vacancy Requests</button><br><br>
	  	<button type="button" class="btn btn-primary"  ng-click="getCandidates('hrRec')">View Candidates</button><br><br>
	    <button type="button" class="btn btn-primary"  ng-click="addCandidate('hrRec')">Add Candidate</button><br><br>
		<button type="button"  class="btn btn-primary" ng-click="testResults('hrRec')">Update Medical Status of Candidates</button><br><br>

	  </div>
	
	</div>
	</div>
 
</body>
</html>