<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HR View Candidates</title>

  </head>
  <body>
	
	<div ng-controller="hrRecCtrl">
	  <div class="container">
	      <div class="page-heading"><h2>HR View Candidates</h2><br></div>
	      <table>
		      <thead>
		       <tr class="tableHeader">
		            <th>Candidate ID</th>
				    <th>Vacancy Request ID</th>
				    <th>Name</th>
				    <th>Age</th>
				    <th>Sex</th>
				    <th>Email</th>
				    <th>Interview Cleared</th>
				    <th>Medical Cleared</th>
				  
				 </tr>
			</thead>
			<tbody>
				  <tr ng-repeat="candidate in candidateList">
				    <td>{{ candidate.candidateId }}</td>
				    <td>{{ candidate.vacancyReqId }}</td>
				    <td>{{ candidate.candidateName }}</td>
				    <td>{{ candidate.candidateAge }}</td>
				    <td>{{ candidate.candidateSex }}</td>
				    <td>{{ candidate.candidateEmail }}</td>
				    <td>{{ candidate.interviewCleared }}</td>
				    <td>{{ candidate.medicalCleared }}</td>
				  
				  </tr>
			</tbody>
		</table>
	      <br><br><br>
	      <button ng-click = "backToTheEmployee('hrRec')" class="btn btn-primary">Back to the HR Main Page</button>
	     
	  </div>
	
	</div>

</body>
</html>