<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HR View Employees</title>

  </head>
  <body>
	
	<div ng-controller="hrRecCtrl">
	  <div class="container">
	      <div class="page-heading"><h2>Employees List</h2><br></div>
	      <table>
		      <thead>
		       <tr class="tableHeader">
		            <th>Employee ID</th>
				    <th>Role ID</th>
				    <th>Name</th>
				    <th>Age</th>
				    <th>Sex</th>
				  
				 
				    
				 </tr>
			</thead>
			<tbody>
				  <tr ng-repeat="employee in employeeList">
				    <td>{{ employee.employeeId }}</td>
				    <td>{{ employee.roleId }}</td>
				    <td>{{ employee.employeeName }}</td>
				    <td>{{ employee.age }}</td>
				    <td>{{ employee.sex }}</td>
				  
				  </tr>
			</tbody>
		</table>
	      <br><br><br>
	      <button ng-click = "backToTheEmployee('hrRec')" class="btn btn-primary">Back to the HR Main Page</button>
	     
	  </div>
	
	</div>

</body>
</html>