<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HR View Vacancy Requests</title>

  </head>
  <body>
	
	<div ng-controller="hrRecCtrl">
	  <div class="container">
	      <div class="page-heading"><h2>HR View Vacancy Requests</h2><br></div>
	      <table>
		      <thead>
		       <tr class="tableHeader">
		           <th> Vacancy Request ID </th>
		            <th>Role Type</th>
				    <th>Location</th>
				    <th>Skill</th>
				    <th>Experience</th>
				    <th>Created By</th>
				    <th>Status</th>
				 </tr>
			</thead>
			<tbody>
				  <tr ng-repeat="vacancy in vacancyList">
				  <td>{{ vacancy.vacancyReqId }}</td>
				    <td>{{ vacancy.selectedRoleType }}</td>
				    <td>{{ vacancy.location }}</td>
				    <td>{{ vacancy.skill }}</td>
				    <td>{{ vacancy.experience }}</td>
				    <td>{{ vacancy.createdBy }}</td>
				    <td>{{ vacancy.status }}</td>
				    
				  </tr>
			</tbody>
		</table>
	      <br><br><br>
	      <button ng-click = "backToTheEmployee()" class="btn btn-primary">Back to the HR Main Page</button>
	     
	  </div>
	
	</div>

</body>
</html>