<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Recruitment </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/app.css">

  </head>
  <body>
	<div>
	<div ng-app="recruitmentApp">

		   <div class="container"> 
			    <div class="jumbotron" ng-controller="recruitmentCtrl">
			        <p style="float:left;"> <img id="ucm" src="static/assets/ucm.jpg" width="150" height="95"> </p>
			        <a style="float:right;" ng-bind="signOut"  ng-click="logOut()"></a> 
			        <p><h2><center>Employee Recruitment</center></h2></p>
				    <p style="float:right;" ng-bind="'Welcome ' + loggedInUser + ' !'">   </p>
		        </div>
				
				<div ng-view/> 
		   </div>
	
	</div>
	</div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
  <script src="static/js/app.js"></script>
  <script src="static/js/controller/recruitmentNgController.js"></script>
  <script src="static/js/controller/hrRecController.js"></script>
  <script src="static/js/service/recruitmentNgService.js"></script>
  <script src="static/js/service/hrRecService.js"></script>
 
 
</body>
</html>