<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Recruitment </title>
</head>
<body>
	<div class="container headBodyColor">
	  <div ng-controller="recruitmentCtrl">
        	 <center> <h3> Home page</h3> </center>
		     <form ng-submit="login()">
			  <div class="form-group">
			    <label for="userId">User ID:</label>
			    <input type="text" class="form-control" ng-model="username">
			  </div>
			  <div class="form-group">
			    <label for="pwd">Password:</label>
			    <input type="password" class="form-control" ng-model="password">
			  </div>
			
			  <button type="submit" class="btn btn-default">Submit</button>
			  <b> <h4> <div class="errorMessageColor" ng-if="errorMessage">{{ errorMessage }}</div> </h4> </b> 
	        </form>
	    
	   

	  </div>
	</div>

</body>
</html>