<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Unit Head</title>

  </head>
  <body>
	<div>
	<div ng-controller="recruitmentCtrl">
	  <div class="container">
	  
	    <div class="page-heading"><h2>Unit Head Main Page</h2><br></div>
	    <button type="button" class="btn btn-primary"  ng-click="addVacancyRequest('unitHead')">Add Vacancy Request</button><br><br>
	    <button type="button"  class="btn btn-primary" ng-click="getVacanciesForUnitHead('unitHead','All')">View Vacancy Requests</button><br><br>
	    <button type="button" class="btn btn-primary"  ng-click="getCandidatesForUnitHead('unitHead','All')">View & Approve Candidates</button><br><br>
	    <button type="button"  class="btn btn-primary" ng-click="getCandidatesForUnitHead('unitHead','Approved')">Update Interview Status of Approved Candidates</button><br><br>
	
	  </div>
	
	</div>
	</div>
 
</body>
</html>