<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>View and Approve Candidates</title>

  </head>
  <body>
	
	<div ng-controller="recruitmentCtrl">
	  <div class="container">
	      <div class="page-heading"><h2>View and Approve Candidates</h2><br></div>
	      <table>
		      <thead>
		       <tr class="tableHeader">
		            <th>Candidate ID</th>
				    <th>Vacancy Request ID</th>
				    <th>Name</th>
				    <th>Age</th>
				    <th>Sex</th>
				    <th>Resume</th>
				    <th>Approval Status</th>
				    <th>Approve</th>
				    <th>Reject</th>
				  
				 </tr>
			</thead>
			<tbody>
				  <tr ng-repeat="(unitHeadCandidateIndex, unitHeadCandidate) in unitHeadCandidateList">
				    <td>{{ unitHeadCandidate.candidateId }}</td>
				    <td>{{ unitHeadCandidate.vacancyReqId }}</td>
				    <td>{{ unitHeadCandidate.candidateName }}</td>
				    <td>{{ unitHeadCandidate.candidateAge }}</td>
				    <td>{{ unitHeadCandidate.candidateSex }}</td>
				    <td> <button class="btn btn-primary" ng-click="download(unitHeadCandidate.resume)">Download</button></td>
				    <td>{{ unitHeadCandidate.approvalStatus }}</td>
				  	<td><input type="button" class="btn btn-primary" value="Approve" data-ng-click="apprOrRejUnitHeadCandidate(unitHeadCandidateIndex,unitHeadCandidate,'Approved')"/></td>
				    <td><input type="button" class="btn btn-primary" value="Reject" data-ng-click="apprOrRejUnitHeadCandidate(unitHeadCandidateIndex,unitHeadCandidate,'Rejected')"/></td>
				  </tr>
			</tbody>
		</table>
	      <br><br><br>
	      <button ng-click = "backToTheEmployee('unitHead')" class="btn btn-primary">Back to the Unit Head Main Page</button>
	     
	  </div>
	
	</div>

</body>
</html>