<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>View Vacancy Requests</title>

  </head>
  <body>
	
	<div ng-controller="recruitmentCtrl">
	  <div class="container">
	      <div class="page-heading"><h2>View Vacancy Requests</h2><br></div>
	      <table>
		      <thead>
		       <tr class="tableHeader">
		            <th>Role Type</th>
				    <th>Location</th>
				    <th>Skill</th>
				    <th>Experience</th>
				    <th>Created By</th>
				    <th>Delete</th>
				 </tr>
			</thead>
			<tbody>
				  <tr ng-repeat="(vacancyIndex, vacancy) in vacancyList">
				    <td>{{ vacancy.selectedRoleType }}</td>
				    <td>{{ vacancy.location }}</td>
				    <td>{{ vacancy.skill }}</td>
				    <td>{{ vacancy.experience }}</td>
				    <td>{{ vacancy.createdBy }}</td>
				    <td><input type="button" class="btn btn-primary" value="Delete" data-ng-click="removeRow(vacancyIndex,vacancy)"/></td>
				  </tr>
			</tbody>
		</table>
	      <br><br><br>
	      <button ng-click = "backToTheEmployee()" class="btn btn-primary">Back to the Main Page</button>
	     
	  </div>
	
	</div>

</body>
</html>