          html, body {
                height: 100%;
                min-height: 100%;
                width: 100%;
                min-width: 100%;
                margin: 0;
                padding: 0;
                color: black;
            }
            footer {
                color: #666;
                background: #222;
                padding: 17px 0 18px 0;
                border-top: 1px solid #000;
            }
            footer a {
                color: #999;
            }
            footer a:hover {
                color: #efefef;
            }
            .wrapper {
                min-height: 100%;
                height: auto !important;
                height: 100%;
                width: 100%;
                min-width: 100%;
                margin: 0 auto -10px;
            }
                
            .form-group.required .control-label:after {
                font-family: 'FontAwesome';
                font-weight: normal;
                font-size: 14px;
                content: "\f069";
                color:red;
            }
            .example {
                padding-left: 10px;
                padding-right: 10px;
            }
            .container {
                margin-right: 10px;
                margin-left: 10px;
                width: auto;
                height: 100%;
            }
            .app-modal-window .modal-dialog {
                width: 80%;
            } 
            .headBodyColor {
				background-color: #ccc;
	            border-bottom	: 2px groove black;
				/* height: 100px; */
	      }
	      .errorMessageColor {
				color: red;
	      }
	      .messageColor{
	         color: green;
	      }
	      .jumbotron {
		    padding: 30px;
		    margin-bottom: 0px;
		    color: inherit;
		    background-color: #eee;
		}
		table, th , td {
		  border: 1px solid grey;
		  border-collapse: collapse;
		  padding: 5px;
		}
		table tr:nth-child(odd) {
		  background-color: #f1f1f1;
		}
		table tr:nth-child(even) {
		  background-color: #ffffff;
		}
		.tableHeader {
		 border: 2px solid #550000;
		 padding: 5px;
		 background-color: #004080;
		 color:#80006a;
	      }